

.navbar {
  background-color: #38394d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 255, 0.2);
}

.dropdown {
  position: relative;
  color: white;
  cursor: pointer;
   margin-right: 10px;
}

.dropdown span {
  padding: 10px;
  display: inline-block;
}

.dropdown-content {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #38394d;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.currency-select {
  background-color: #38394d;
  color: white;
  padding: 5px;
  border: none;
  margin-right: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.buy-btn, .sign-in-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.buy-btn i, .sign-in-btn i {
  margin-right: 5px;
}

.sign-in-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #43cd99;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logo {
  display: flex;
  border-right: 1px solid white;
   margin-right: 20px; 
  padding-right: 20px; 
}

.logo img {
  margin-top: -10px;
  height: 30px; 
  margin-right: 10px; 
}

/* ... otras reglas CSS ... */

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  color: white;
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu.open {
  display: block;
  flex-direction: column;
  background-color: #38394d;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: block;
  }

  .dropdown-content {
    position: static;
    background-color: #38394d;
    box-shadow: none;
    padding: 10px;
  }
}

/* ... otras reglas CSS ... */

.right-elements {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right-elements.open {
  display: none;
}

@media (max-width: 768px) {
  .right-elements {
    display: none;
  }

  .right-elements.open {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 415px;
    left: -6px;
    width: 100%;
    z-index: 100;
    background-color: #38394d;
    padding: 10px;
    
  }
}
